.title {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.main-page-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  flex: 1;

  .description-container {
    font-size: 1.5rem;
    color: #666;
    text-align: center;
    flex: 1;
  }

  .vertical-line {
    width: 2px; /* Width of the line */
    height: 40rem; /* Height of the line */
    background-color: #484848; /* Color of the line */
    margin: 0 10px; /* Optional margin for spacing */
  }

  .slot-selector-container {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
