.separator {
  display: flex;
  align-items: center;
  margin: 0rem 0;

  width: 100%;
  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid;
    margin: 0 1rem;
  }
}

.login-menu {
  button {
    border-radius: 0.2rem;
  }
}
