footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    color: #6c757d;
    font-size: 14px;
    border-top: 1px solid #e9ecef;
    margin-top: 20px;
    position:relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}