// Primary Colors
$primary-dark: #5680e9; // Dark Blue
$primary-light: #9ed0e4; // Light Blue

// Secondary Colors
$secondary: #5ab9ea; // Mid Blue

// Accent Colors
$accent-light: #c1c8e4; // Light Purple
$accent-dark: #8860d0; // Dark Purple

$on-primary-light: #fff7c0;

$very-dark-accent: #01234e;

$footer-background: #1a1a5e;
$on-footer: #66b2ff;

$header-background: #1a1a5e;
$on-header: #66b2ff;
